.line {
  position: relative;
  width: 100%;
}

.lineBox {
  position: absolute;
  width: 100%;
  height: 125px;
  top: -50%;
  transform: translateY(-50%);
}

.line svg {
  width: 100%;
  height: 500px;
  position: absolute;
  top: -50%;
  transform: translateY(-50%);
  z-index: -1;
}

.line svg path {
  fill: none;
  stroke: var(--white);
  stroke-width: 1;
}
